@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root{
  --vermelho: #E50914;
  --preto: #141414;
  --branco: rgba(255, 255, 255, 0.952);
}

/*elementos base*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* line-height: 1; */
  background: var(--preto);
  font-family: 'Open Sans', sans-serif;
  color: var(--branco);
}
ol, ul {
  list-style: none;
}
a{
  text-decoration: none;
}



/*cabecalho*/
#header{
   position: fixed;
   background: transparent;
   width: 100%; 
   transition: .6s ease;
}
header .container{
  display: flex;
  align-items: center;
  padding: 15px 58px;

  background: transparent;

  
}

.bar{
   display: flex;
   position: absolute;
   right: 0;
   margin-right: 58px;
}

.bar i{
   align-self: center;
}
.bar .avatar{
   width: 40px;
   height: 40px;
   background-image: url(../img/avatar.jpg);
   background-size: contain;
   border-radius: 5px;
}

#sino{
   font-size: 25px;
   margin: 0 30px 0 20px;
}


#lupa{
   margin-right: 10px;
   font-size: 20px;
   cursor: pointer;
}

#search{
   height: 30px;
   align-self: center;
  
   background: var(--preto);
   color: var(--branco);
   padding: 0px 30px 0 5px;
  
   border: 1px solid var(--branco);
   
   display: none;
   opacity: 0;
   visibility: hidden;

}


header .logo{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: var(--vermelho);
  letter-spacing: 2px;
  margin-right: 40px;
}

header nav a{
  color: var(--branco);
  margin-right: 15px;
  font-size: 14px;
}
header nav a:hover{
  color: #AAA;
}

.current-active{
  cursor: default;
  color: var(--branco);
  font-size: 16px;
  font-weight: 600;
}
.current-active:hover{
  color: var(--branco);
}



/*filme principal*/
.filme-principal{
  font-size: 16px;
  background: linear-gradient(to right, rgba(0,0,0, 0.6), rgba(0,0,0, 0.05)), url(../img/bg-totoro.jpg);

 
  height: 640px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
.filme-principal .container{
   padding: 0 5%;
}
.filme-principal .descricao{
   margin-top: 15px;
   margin-bottom: 40px;
   max-width: 550px;
   font-size: 1.15em;  
}
.title{
   font-size: 40px;
   font-weight: 700;
} 



/*buttons*/
.btn{
   border: none;
   border-radius: 5px;

   padding: 9px 27px 9px 22px;
   margin-right: 12px;
   font-size: 16px;
   font-weight: 600;

   cursor: pointer;
   margin-bottom: 100px;
   
}
.btn i{
   margin-right: 8px;
}
.btn:hover{
   background-color: rgba(26, 26, 26, 0.582);
   color: #E50914;
   transition: .3s ease all;
}

.dark{
   background-color: rgba(109,109,110, 0.5);
   color: white;
}

.light{
   background-color: white;
   color: #000;
}



/*título catálogo*/
.carousel-title {
   font-size: 20px;
   color: var(--branco);
   opacity: .8;
   padding: 15px 0 15px 55px;
   display: inline-block;
   font-weight: 700;
   cursor: pointer;
}

.expandir{
   display: inline-block;
   cursor: pointer;
   color: #54b9c5;
   opacity: 0;
   font-size: 14px;
   font-weight: 700;
   transition: visibility 0s, padding-left 0.6s, opacity 0.5s ;
   
}
.expandir i{
   padding-left: 5px;
   
}

.carousel-title:hover + .expandir, .expandir:hover{
   padding-left: 15px;
   visibility: visible;
   opacity: 1;
   
}



/*catálogo*/
.item{
   height: 240px;
   object-position: center;
   object-fit: cover;
   border-radius: 10px;
}

.owl-carousel{
   padding:0 55px;   
}

.owl-prev{
   left: 10px;
}
.owl-next{
   right: 10px;
}
.owl-prev, .owl-next{
   position: absolute;
   top:40px;
}
.owl-prev span, .owl-next span{
   font-size: 90px;
   color: var(--branco);
}


/*rodapé*/

footer{
   max-width: 980px;
   margin: 100px auto 0;
   padding: 0 4%;
}

.social-links{
   display: flex;
   margin-bottom: 1em;
}

.social-links a{
   padding-right: 20px;
   color: grey;
   font-size: 30px;
}

.options-links{
   display: flex;
   flex-wrap: wrap;  
}

.options-links li{
   width: 25%;
   margin-bottom: 10px;

   color: gray;
   font-size: 13px;
   font-weight: 500;
}

.copy{
   color: gray;
   font-size: 12px;
   margin: 10px 0 20px 0;
}