@media screen and (max-width:760px){
   header .container{
      flex-direction: column;
   }
}

@media screen and (max-width:700px){
   header .container{
      align-items: flex-start;
   }
   header .container nav{
      display: none;
   }

}